.App {
  text-align: center;
  background-color: #f3f3f3;
  /* height: 100vh; */
  padding-top: 10px;
  padding-bottom: 30px;
  height: 100vh;
}

.horizontal-rule {
  width: 1120px;
  border: 1px solid #b3b3b3;
  margin-top: 36px;
}
